.box {
    background: #8888ff;
    margin: 20px;
    width: 100px;
    height: 100px;
}

/* transform is a property with function values that change elements in various ways */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

/* scale(1) is original size than 1 is smaller greater than 1 is bigger

