/* Step 1: Configure an element to be animated */

#animated-shape {
    background: pink;
    width: 200px;
    height: 200px;
    /* sub-properties to attach an animation */
    animation-name: colorchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

/* STep 2: Define animation sequence */
@keyframes colorchange {
    from { background: pink; }
    to { background-color: greenyellow;}

}

@keyframes colorchange-alt {
    0% { background: pink;}
    50% { background: greenyellow;
        transform: scale(5);}
    100% { background: pink;}
}












.box {
    background: #8888ff;
    margin: 20px;
    width: 100px;
    height: 100px;
}

/* transform is a property with function values that change elements in various ways */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

/* scale(1) is original size than 1 is smaller greater than 1 is bigger */

#skew {
    transform:skew(deg)
}

#translate {
    transform:translate(125px)
}

/* translate (x) moves to the right if x is posiitive and left if x is negative */


#chain {
    transform: rotate(120deg) skew(-10deg);
}

