.box {
    background: #8888ff;
    margin: 20px;
    width: 100px;
    height: 100px;
}

/* transform is a property with function values that change elements in various ways */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

/* scale(1) is original size than 1 is smaller greater than 1 is bigger */

#skew {
    transform:skew(deg)
}

#translate {
    transform:translate(125px)
}

/* translate (x) moves to the right if x is posiitive and left if x is negative */


#chain {
    transform: rotate(120deg) skew(-10deg);
}

